.thumbnail-preview {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
  z-index: 0;
  margin-left: -55px;
  margin-top:-40%;
}

.thumbnail {
  position: absolute;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  pointer-events: none; 
  display: none;
}

.video-js .thumbnail-preview .thumbnail {
  border: 2px solid #fff;
}