.thumbnail-preview {
  position: absolute;
  bottom: 170px;
  margin-left: -50px;
  pointer-events: none;
  display: none;
  z-index: 0;
}

.thumbnail {
  position: absolute;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  pointer-events: none; 
  display: none;
}

.video-js .thumbnail-preview .thumbnail {
  border: 2px solid #fff;
  border-radius:5px;
}